#mybox {
    width: 500px;
    height: 500px;
    background-image: url("../img/ovo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mybox2 {
    width: 500px;
    height: 500px;
    background: url(https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/topnav/zhidao@2x-e9b427ecc4.png);
}